.App {
  text-align: left;
  width: calc(100% - 20px);
}

.App-header{
  margin: 0 8px;
}
.App-header .logo{
  font-size: 25px;
  font-style: italic;
  margin: 12px 0 12px 0;
  font-weight: 600;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

button{
  text-transform: uppercase;
  padding: 12px;
  background-color: aqua;
  color: white;
  border-radius: 2px;
  outline:  0;
}

.inline-block{
  display: inline-block;
}

.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
